
.table-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px; 
}

.table-wrapper > *:first-child{
    margin-left: 20px; 
}

.table-wrapper > *:last-child{
    margin-right: 50px; 
}

.table {
    width: 98%;
    margin: auto;
}

.td-stream-column {
    text-align: center;
}