.stream-activity-status-container {
    display: flex;
    justify-content: center;
}

.green-circle {
    background: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.red-circle {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
