.buttonText {
    color: white;
    text-decoration: none;
}

.table-container {
    display: flex;
    flex-direction: column;
    margin: 2% 5% 0 5%;
    &__table {
        &__header {
            background-color: #f2f2f2;
            align-items: center;
            text-align: center;
        }
        &__body {
            align-items: center;
            text-align: center;
            tr > td {
                vertical-align: middle;
            }
        }
    }
}
